html, body {
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 400px;
}